[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Comment out python-terrier and pytrec-eval for python-terrier supported build
# python-terrier = "*"
# pytrec-eval-terrier = "==0.5.2"
language-tool-python = "*"
sentence-transformers = "*"
nptyping = "==1.4.4"
spacy = "*"
gensim = "*"
tensorflow = "*"
# Comment out pyserini and faiss for python-terrier supported build
pyserini = "*"
faiss-gpu = "*"
torch = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
