[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-terrier = "*"
pytrec-eval-terrier = "==0.5.2"
language-tool-python = "*"
sentence-transformers = "*"
nptyping = "==1.4.4"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
